/* CSS Document */

.game {
	background-color: #FF0000;
	float: left;
}

.options {
	display: none;
}

.options .label {
	display: inline-block;
	width: 90px;	
}

.options input[type="text"] {
	width: 32px;	
}

.menu {
	float: left;
	margin: 0 24px 0 0;	
}

.hdr {
	height: 46px;
	width: 100%;
}

.hdr .mines {
	background-color: #000000;
	color: #FF0000;
	float: right;
	height: 30px;
	right: 8px;
	position: relative;
	top: 8px;
	width: 70px;
}

.hdr .time {
	background-color: #000000;
	color: #FF0000;
	float: left;
	height: 30px;
	position: relative;
	left: 8px;
	top: 8px;
	width: 70px;
}

.field {
	border: 1px solid #FF0000;
	background-color: #128812;
	padding: 0 1px 1px 0;
}

.box {
	background-image: url(../image/sprites.png);
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}

.box-closed {
	background-position: -0px -0px;
}

.box-flag {
	background-position: -96px -24px;
}

.box-open {
	background-position: -120px -0px;
}

.box-mine {
	background-position: -120px -24px;
}

.box-num1 {
	background-position: -24px -0px;
}

.box-num2 {
	background-position: -48px -0px;
}

.box-num3 {
	background-position: -72px -0px;
}

.box-num4 {
	background-position: -96px -0px;
}

.box-num5 {
	background-position: -0px -24px;
}

.box-num6 {
	background-position: -24px -24px;
}

.box-num7 {
	background-position: -48px -24px;
}

.box-num8 {
	background-position: -72px -24px;
}