
body {
	
	font-family: "Helvetica Nueue", Helvetica, sans-serif;
	font-size: 12px;
	background-color: #D6E4E1;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
}

.base {
	
	margin: 0 auto;
	width: 800px;
	
}
